h1 {
    text-align: center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique
    ;
}

body {
    background-image: url('https://c.stocksy.com/a/xD9200/z9/512117.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  

.rotate90 {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}